body {
  background-color: rgb(98, 25, 98);
}

.room {
  width: 800px;
  height: 600px;
  background-color: black;
  margin: 200px;
  overflow: hidden;
}

.me {
  width: 500px;
  height: 300px;
  background-image: url("me.jpeg");
  background-repeat: none;
  margin-top: 200px;
}
